:root {
    background-color: black;
    font-family: 'Inter','Merriweather', sans-serif;
}

* {
    
}

body {
    margin: auto;
    padding: 1px;
    width: 1600px;
    background: #FFF;
}

.header_img {
    margin: 50px 140px;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    border-radius: 16px;
}

.header_text{
    color: #FFF;
    
    text-align: center;
}

.header_sub_caption{
    padding-top: 177px;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

.header_caption{
    margin-top: 0;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}