:root {
    background-color: black;
    font-family: 'Inter', 'Merriweather', sans-serif;
}

* {}

body {
    margin: auto;
    padding: 1px;
    width: 1600px;
    background: #FFF;
}

.header_img {
    margin: 50px 140px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    border-radius: 16px;
}

.header_text {
    color: #FFF;

    text-align: center;
}

.header_sub_caption {
    padding-top: 177px;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

.header_caption {
    margin-top: 0;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.main_block1 {
    text-align: center;
    font-family: 'Inter';
    margin-bottom: 120px;
}

.discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount_info {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.discount_info2 {
    margin-top: 16px;
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_block2 {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
}

